html {
  box-sizing: border-box;
}
* {
  box-sizing: inherit;
}

:root {
  --color-nav: #0f0101;
  --change-link-color: #1abc9c;
  --h2-color: #515151;
  --gallery-text-color: #ffffff;
  --gallery-text-back-color: #323232;
  --gallery-prise-back-color: #8c8c8c;
  --galley-prise-change-color: #7fd9c7;
  --text-color: #555252;
  --button-color: #4ec6ab;
  --main-font: 'Roboto', sans-serif;
  --second-font: 'Open Sans', sans-serif;
}

.container {
  width: 1110px;
  margin-left: auto;
  margin-right: auto;
}

.site-nav {
  display: flex;
}

.site-nav.link {
  display: block;
  line-height: 1.6;
  color: var(--color-nav);
}

.link {
  display: block;
  font-size: 14px;
  line-height: 1.6;
  padding-left: 16px;
  padding-right: 16px;
  font-weight: 700;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  color: black;
}

.link:hover,
.link:focus {
  color: var(--change-link-color);
}

.list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.page-nav {
  display: flex;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 110px;
}

.site-logo {
  margin-right: auto;
}

/*section1*/
.menu {
  display: flex;
  flex-wrap: wrap;
}

.section {
  margin-bottom: 105px;
}

.featured-list-item {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 0;
  flex-basis: calc(100% / 4 - 22.5px);
  margin-bottom: 30px;
}

.featured-list-item:not(:nth-child(4n)) {
  margin-right: 30px;
}

.featured-list-item:nth-last-child(-n + 4) {
  margin-bottom: 0;
}

.menu-link {
  text-decoration: none;
}

.menu-link:hover .price {
  background-color: var(--galley-prise-change-color);
}

.menu-link:hover .featured-title {
  background-color: var(--change-link-color);
}

.content {
  display: flex;
}

.title-first {
  font-family: var(--main-font);
  font-size: 48px;
  font-weight: 700;
  color: var(--h2-color);
  text-align: center;
  margin: 0;
  margin-bottom: 130px;
}

.featured-title {
  font-family: var(--main-font);
  font-size: 18px;
  color: #ffffff;
  background-color: var(--gallery-text-back-color);
  margin: 0;
  padding: 0;
  width: 200px;
  height: 40px;
  padding-left: 10px;
  padding-top: 10px;
}

.price {
  font-family: var(--main-font);
  font-size: 18px;
  font-weight: bold;
  color: #ffffff;
  background-color: var(--gallery-prise-back-color);
  height: 40px;
  width: 55px;
  margin: 0;
  text-align: center;
  padding-top: 10px;
}

.img {
  margin-bottom: -5px;
}

/*section2*/

.information-list-item {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 0;
  flex-basis: calc(100% / 3 - 20px);
}

.information-list-item.information-list-item:not(:nth-child(3n)) {
  margin-right: 30px;
}

.information-list {
  display: flex;
}

.information-title {
  font-size: 18px;
  font-family: var(--second-font);
  color: var(--text-color);
  font-weight: 400;
  margin: 0;
  padding: 0;
}

.information-text {
  font-size: 14px;
  line-height: 26px;
  font-family: var(--second-font);
  color: var(--text-color);
}

.information-list-link {
  width: 160px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--button-color);
  color: #ffffff;
  border-radius: 3px;
  text-decoration: none;
  font-size: 16px;
  line-height: 1.6;
  font-family: var(--second-font);
}

.information-list-link:hover,
.information-list-link:focus {
  color: var(--change-link-color);
}
